<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nialon"
    android:versionCode="85"
    android:versionName="20.4b">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/lunoid144white"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Lunoid"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:parentActivityName=".Lunoid" />
        <activity
            android:name=".DisplayNotes"
            android:parentActivityName=".Lunoid" />
        <activity
            android:name=".Infos"
            android:parentActivityName=".Lunoid" />
        <activity
            android:name=".ConseilsDuMois"
            android:parentActivityName=".Lunoid" />
        <activity
            android:name=".PrefsActivity"
            android:parentActivityName=".Lunoid"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <receiver android:name=".WidgetProvider1Cell">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget1cell_info" />
        </receiver>
        <receiver android:name=".WidgetProvider2Cell">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget2cell_info" />
        </receiver>
        <receiver android:name=".WidgetProvider3Cell">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget3cell_info" />
        </receiver>
        <receiver android:name=".WidgetProvider4Cell">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget4cell_info" />
        </receiver>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>